@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  background: $violet;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-weight: bold;
  max-height: 100vh;
  height: 100%;
  margin: auto;
}

.header {
  min-height: 72px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $mobile) {
    align-items: center;
  }

  &__image {
    margin-right: 10px;
  }

  &__heading {
    font-size: 32px;
    margin: 0;

    &--orange {
      color: $orange;

      @media (max-width: $mobile) {
        display: block;
      }
    }

    @media (max-width: $mobile) {
      font-size: 20px;
      width: 75px;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr;
  margin: 0 16px 40px 16px;
  grid-gap: 0px 32px;
  grid-template-areas: 
    "nav nav nav nav"
    "note1 note1 note2 note2";

  @media (max-width: $mobile) {
    grid-template-areas: 
      "nav nav nav nav"
      "note note note note"
  }

  .navigation {
    width: 100%;
    grid-area: nav;
    text-align: center;

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    &__item {
      display: inline-block;
      margin: 0 16px 40px 16px;
      padding: 12px 0;
      text-align: center;
      border-bottom: 2px solid white;
      font-size: 20px;
      max-width: 544px;
      width: 100%;
      font-size: 14px;

      @media (max-width: $mobile) {
        margin: 0 0 40px 0;
      }

      &--mobile {
        @media (max-width: $mobile) {
          opacity: .7;
        }
      }
    }


    &__link {
      text-decoration: none;
      color: white;

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &__edit {
      text-decoration: none;
      color: white;
      display: none;

      @media (max-width: $mobile) {
        display: block;
      }
    }

    &__note {
      text-decoration: none;
      color: white;
      display: none;

      @media (max-width: $mobile) {
        display: block;
      }
    }
  }

  .note {
    max-width: 544px;
    width: 100%;
    
    &--left {
      justify-self: end;
      width: 100%;
      grid-area: note1;
      
      @media (max-width: $mobile) {
        grid-area: note;
        justify-self: center;
      }
    }

    &--right {
      justify-self: start;
      width: 100%;
      grid-area: note2;

      @media (max-width: $mobile) {
        grid-area: note;
        justify-self: center;
      }
    }

    &--invisable {
      @media (max-width: $mobile) {
        display: none;
      }
    }

    &__heading {
      display: none;
    }

    &__link {
      text-decoration: none;
      color: white;
    }

    &__form {
      max-width: 355px;
      width: 100%;
      margin: 0 auto;

      @media (max-width: $mobile) {
        max-width: 310px;
        display: flex;
        flex-direction: column;
      }
    }

    &__label {
      display: block;
      margin-bottom: 10px;
    }

    &__input {
      width: 100%;
      margin-bottom: 20px;
      padding: 16px;
      border-radius: 4px;

      &::placeholder {
        font-family: 'Open Sans', sans-serif;
      }
    }

    &__textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 16px;
      border-radius: 4px;
      min-height: 240px;

      &::placeholder {
        font-family: 'Open Sans', sans-serif;
      }
    }

    &__delete {
      max-width: 165px;
      width: 100%;
      padding: 16px;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 20px;
      color: $orange;
      background: transparent;
      border: 1px solid $orange;

      @media (max-width: $mobile) {
        max-width: 310px;
        order: 1;
      }
    }

    &__save {
      max-width: 165px;
      width: 100%;
      padding: 16px;
      border-radius: 4px;
      cursor: pointer;
      background: $orange;
      border: 1px solid $orange;
      color: white;

      @media (max-width: $mobile) {
        max-width: 310px;
        margin-bottom: 20px;
      }
    }

    .saved {
      max-width: 355px;
      width: 100%;
      margin: 0 auto;

      @media (max-width: $mobile) {
        max-width: 310px;
      }

      &__unsaved {
        opacity: .5;
        text-align: center;

        &--hide {
          display: none;
        }
      }

      &__heading {
        font-size: 30px;
        font-weight: bold;
        color: $orange;
      }

      &__text {
        opacity: .8;
      }
    }
  }
}

.footer {
  text-align: center;
  width: 100%;
}