@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  background: $violet;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-weight: bold;
  height: 100vh;
}

.header {
  min-height: 72px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__image {
    margin-right: 10px;
  }

  &__heading {
    font-size: 32px;
    margin: 0;

    &--orange {
      color: $orange;
    }
  }
}